__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.devcontainer/
.git/
.gitignore
Dockerfile
*.egg-info
.env
*.env
venv/
.venv/
/tests/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.dist/
build/
pytest.ini
alembic.ini
