fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
qrcode[pil]
pydantic
python-dotenv
requests
pytest
httpx
pytest-cov
alembic
 pydantic-settings
email-validator