alembic
fastapi
itsdangerous
passlib[bcrypt]
pydantic
pydantic-settings
python-dotenv
python-jose
python-multipart
psycopg2-binary
qrcode[pil]
requests
slowapi
sendgrid
sqlalchemy
uvicorn[standard]
PyJWT